html {
  background: #ccc;
  font-family: Roboto,Helvetica,Arial,sans-serif;
}

.mp_dynamic_content {
    background: #fff;
    max-width: 450px;
    margin: auto;
    padding-bottom: 20px;
}

.mp_dynamic_content section img {
    float: left;
    margin-right: 10px;
}

.mp_dynamic_content section a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    display: block;
    min-height: 75px;
}

.mp_dynamic_content .title {
    vertical-align: top;
    text-decoration: none;
    color: black;
}

.mp_dynamic_content .vendor {
    float: left;
    text-decoration: none;
    color: #676767;
    text-transform: capitalize;
    font-size: 12px;
}

/**
    Default styles
 */

.mp_dynamic_content.default {
    min-height: 75px;
}

.mp_dynamic_content.default section a {
    padding: 10px;
    border-bottom: .5px solid #efefef;
}

/**
    Edge to edge (full-width image) styles
 */

.mp_dynamic_content.edge img {
    width: 100%;
    float: none;
}

.mp_dynamic_content.edge .title {
    padding: 10px 16px;
}

/**
    Carousel styles.
 */

.mp_dynamic_content.carousel section {
  margin: 0 auto;
  padding: 10px 0 20px 0;
}

.variable-width .slick-slide p {
  height: 100px;
  color: #fff;
  margin: 5px;
  line-height: 100px;
  text-align: center;
}

.mp_dynamic_content.carousel .content {
  padding: 20px;
  margin: auto;
  width: 90%;
}
.slick-list {
  overflow: hidden;
  padding: 0;
  margin: 0;
}
.slick-slide {
  float: left;
}
.slick-slide div:first-child {
  margin: 0 10px;
}
.slick-slide a {
  text-decoration: none;
}
.slick-slide .image {
  padding: 10px;
}
.slick-slide img {
  margin: 0;
  padding: 0;
  width: 100%;
  bordeR: 0;
  display: block;
}
.slick-slide img.slick-loading {
  border: 0;
}
.slick-slider {
  margin: 10px auto 0;
}
.slick-slider .title {
  font-weight: 700;
  padding: 10px 0;
}
.slick-dots {
  margin-left: 0;
}
.slick-thumb {
  bottom: -45px;
}
.slick-thumb li {
  width: 60px;
  height: 45px;
}
.slick-thumb li img {
  filter: grayscale(100%);
}
.slick-thumb li.slick-active img {
  filter: grayscale(0%);
}
@media (max-width: 768px) {
  .mp_dynamic_content.carousel .center {
    margin-left: -40px;
    margin-right: -40px;
  }
}
.slick-vertical .slick-slide {
  height: 180px;
}

/**
    Vendor-specific styles
 */

img.groupon-logo,
.mp_dynamic_content.edge img.groupon-logo {
  width: 67px;
}

.mp_dynamic_content.groupon section header a {
  displaY: inline;
}

.mp_dynamic_content.groupon section header .locale {
  float: right;
  color: #676767;
  padding: 12px 14px;
  font-size: 12px;
}

.mp_dynamic_content.groupon section header a img {
  margin: 10px 16px;
  float: none;
}

.mp_dynamic_content.groupon.edge .info {
  margin: 0 16px;
}

/* Events */

.mp_dynamic_content.eventful {
  padding-bottom: 1px;
  margin-bottom: -12px;
}

/* Header layout */

.mp_dynamic_content.eventful header {
  padding: 6px 19px;
  overflow: auto;
  width: 92%;
}

.mp_dynamic_content.eventful header img {
  width: auto;
  margin-right: 0;
}

.mp_dynamic_content.edge.eventful header h2.title,
.mp_dynamic_content.eventful header h2.title,
.mp_dynamic_content.eventful header .location  {
  font-size: 12px;
  margin: 0;
  padding: 2px 0 0;
  color: #767676;
}
.mp_dynamic_content.eventful header .content-left {
  float: left;
  width: 40%;
}

.mp_dynamic_content.eventful header .content-right {
  float: right;
  width: 60%;
  text-align: right;
}

.mp_dynamic_content.edge.eventful header h2.title,
.mp_dynamic_content.eventful header h2.title,
.mp_dynamic_content.eventful header .provider_logo,
.mp_dynamic_content.eventful header .location,
.mp_dynamic_content.eventful header .arrow {
  display: inline-block;
}

.mp_dynamic_content.edge.eventful header h2.title,
.mp_dynamic_content.eventful header h2.title {
  font-weight: normal;
  margin-right: 3px;
}

.mp_dynamic_content.eventful header .location {
  font-weight: 500;
  margin-left: 2px;
}

.mp_dynamic_content.eventful header .arrow {
  margin-left: 4px;
  position: relative;
  top: 2px;
  }

/* Carousel layout */
.mp_dynamic_content.eventful .start-time {
  font-size: 13px;
  font-weight: 900;
  text-transform: uppercase;
  margin: 0;
}

.mp_dynamic_content.eventful .venue {
  margin: 4px 0 0;
  padding: 0;
  color: #767676;
  font-size: 12px;
  font-weight: normal;
}

.mp_dynamic_content.eventful .slick-slider .title {
  font-weight: 700;
  padding: 10px 0;
}

.mp_dynamic_content.eventful .slick-slide img {
  margin-bottom: 8px;
}

/* Edge layout */

.mp_dynamic_content.edge.eventful .item-footer .partner-logo {
    width: 25px;
    height: 25px;
    margin: -6px 7px -10px 0;
    padding: 0;
    float: left;
}

.mp_dynamic_content.edge.eventful .item-footer {
    margin: -1px 0 10px 17px;
}

.mp_dynamic_content.edge.eventful a.feature .item-footer {
  padding: 0px;
}
